@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Pacifico&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ROOT */
/* ROOT */
/* ROOT */

:root {
  --color-cultured: #f7f9f9;
  --color-opal: #bed8d4;
  --color-medium-turquoise: #78d5d7;
  --color-baby-blue: #63d2ff;
  --color-green-blue-crayola: #2081c3;
  --color-lighter-blue: #5379ff;
  --color-darker-blue: #0038ff;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #333;
  --main-color: #7ca0fb;
  --text-color-light: #fff;
  --box-shadow-top: 0 -10px 15px -5px rgba(0, 0, 0, 0.25);
  --box-shadow-bottom: 0 10px 15px -5px rgba(0, 0, 0, 0.25);
  --box-shadow-nav: 0 4px 4px rgba(0, 0, 0, 0.25);
  --text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* UTILITIES */
/* UTILITIES */
/* UTILITIES */

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 5rem;
}

p {
  letter-spacing: 0.1rem;
  line-height: 28px;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: justify;
}

a {
  text-decoration: none;
}

.copy-text-container {
  width: 70vw;
}

/* LANDING PAGE */
/* LANDING PAGE */
/* LANDING PAGE */

#hero {
  width: 100vw;
  height: 100vh;
  background: url('./assets/mobile-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: var(--main-color); */
  background-color: var(--color-baby-blue);
  opacity: 0.9;
}

/* NAV */
/* NAV */
/* NAV */

#hero nav .empty {
  width: 80%;
}

#hero nav {
  width: 100%;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 2;
}

#nav-icon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  /* background: #fff; */
  /* background: #0038ff; */
  background: var(--color-green-blue-crayola);
  opacity: 1;
  left: 0;
  /* box-shadow: var(--box-shadow-nav); */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* NAV MENU */
#nav-menu {
  width: 70vw;
  height: 100vh;
  /* background: var(--main-color); */
  background: linear-gradient(135deg, var(--color-green-blue-crayola), var(--color-medium-turquoise));
  position: absolute;
  top: 0;
  right: -75vw;
  /* border-left: 1px solid #95b2fc; */
  border-left: 1px solid var(--color-green-blue-crayola);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

#nav-menu .nav-menu-head {
  width: 100%;
  height: 15%;
  padding-left: 1rem;
  /* border-bottom: 1px solid #95b2fc; */
  border-bottom: 1px solid var(--color-green-blue-crayola);
  display: flex;
  align-items: center;
}

#nav-menu .nav-menu-head img {
  width: 4rem;
}

#nav-menu .nav-menu-body {
  width: 100%;
  height: 75%;
  padding-left: 1rem;
  /* border-bottom: 1px solid #95b2fc; */
  border-bottom: 1px solid var(--color-green-blue-crayola);
  display: flex;
  flex-direction: column;
}

#nav-menu .nav-menu-body a {
  /* margin-top: 2rem; */
  padding: 1rem 0;
  text-decoration: none;
  /* color: #fff; */
  color: var(--color-cultured);
  /* border-bottom: 1px solid #95b2fc; */
  border-bottom: 1px solid var(--color-green-blue-crayola);
}

#nav-menu .nav-menu-body a i {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  /* border: 1px solid #fff; */
  border: 1px solid var(--color-cultured);
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
}

#nav-menu .nav-menu-footer {
  width: 100%;
  height: 10%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  /* color: #fff; */
  color: var(--color-cultured);
}

/* END NAV */
/* END NAV */
/* END NAV */

/* .hero-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-top: 30%;
}

.hero-section .main-logo {
  display: flex;
  justify-content: center;
}

.hero-section .main-logo img {
  width: 310px;
  height: 152px;
}

.hero-section .hero-text {
  width: 65%;
  display: flex;
  justify-content: center;
}

.hero-section .hero-text h1 {
  font-size: 1.6rem;
  color: var(--text-color-light);
  line-height: 2rem;
  text-shadow: var(--text-shadow);
  text-align: center;
} */

.hero-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 1;
  margin-top: 30%;
}

.hero-section .logo-border {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(-135deg, var(--color-darker-blue), var(--color-lighter-blue));
  /* background: linear-gradient(var(--color-green-blue-crayola), var(--color-baby-blue)); */
  /* box-shadow: 0 12px 7px -4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 25px; */
  border-radius: 25px 25px 0 0;
}

/* .hero-section .logo-border .main-logo {
  display: flex;
  justify-content: center;
} */

.hero-section .logo-border .main-logo img {
  width: 233px;
}

.hero-section .logo-border .hero-text {
  width: 65%;
  /* display: flex;
  justify-content: center; */
}

.hero-section .logo-border .hero-text h1 {
  font-size: 1.25rem;
  color: var(--text-color-light);
  line-height: 1.6rem;
  text-shadow: var(--text-shadow);
  text-align: center;
}

/* .hero-section a {
  width: 300px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff8833, #ff9900);
  box-shadow: 0 12px 7px -4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 25px 25px;
  color: #fff;
} */

.hero-section .button-container {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .button-container a {
  color: #fff;
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.hero-section .button-container a i {
  margin-top: 10px;
}

.hero-section .button-container a:first-child {
  background: linear-gradient(-155deg, #880000, #ff9900);
  border-radius: 0 0 0 25px;
}

.hero-section .button-container a:nth-child(2) {
  background: linear-gradient(-155deg, #008800, #00ff99);
}

.hero-section .button-container a:last-child {
  background: linear-gradient(-155deg, #000088, #9900ff);
  border-radius: 0 0 25px 0;
}

.cta {
  background: #fff;
  width: 90vw;
  height: 80vh;
  position: fixed;
  /* top: 82%; */
  top: 85%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow-top);
  border: 2px solid black;
  z-index: 2;
}

.cta #small-cta-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  /* border: 2px solid black; */
  display: none;
}

.cta #small-cta-btn img {
  width: 70%;
}

.cta .cta-head {
  height: 20%;
  width: 100%;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta .cta-body {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cta .cta-head #close-pop-up {
  position: absolute;
  top: 3%;
  right: 5%;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0.5rem 0.6rem;
  border: 2px solid black;
  display: none;
}

.cta .cta-footer {
  height: 10%;
  width: 100%;
  border-top: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*========================= COPY 1 SECTION =========================*/

#copy-1 {
  width: 100vw;
  height: 100vh;
  /* background: #fff; */
  background: var(--color-cultured);
  color: var(--color-lighter-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footprints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footprints img {
  width: 60px;
  transform: rotate(-200deg);
  filter: blur(1px);
}

#footprints .print-1 {
  position: absolute;
  top: 15%;
  left: 15%;
  opacity: 0;
}

#footprints .print-2 {
  position: absolute;
  top: 27.5%;
  left: 55%;
  transform: scale(-1);
  opacity: 0;
}

#footprints .print-3 {
  position: absolute;
  top: 40%;
  left: 20%;
  opacity: 0;
}

#footprints .print-4 {
  position: absolute;
  top: 52.5%;
  left: 60%;
  transform: scale(-1);
  opacity: 0;
}

#footprints .print-5 {
  position: absolute;
  top: 65%;
  left: 25%;
  opacity: 0;
}

#footprints .print-6 {
  position: absolute;
  top: 77.5%;
  left: 65%;
  transform: scale(-1);
  opacity: 0;
}

/*========================= ABOUT SECTION =========================*/
/*========================= ABOUT SECTION =========================*/
/*========================= ABOUT SECTION =========================*/

#about {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#about img {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  transform: rotate(90deg);
  opacity: 0.03;
}

#about .about-head {
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #888;
}

#about .about-body {
  height: 60%;
  display: flex;
  align-items: center;
}

#about .about-footer {
  height: 20%;
}

/*========================= COPY SECTION 2 =========================*/

#copy-2 {
  width: 100vw;
  height: 100vh;
  /* background: #fff; */
  background: var(--color-cultured);
  color: var(--color-lighter-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy-2 img {
  width: 100px;
  position: absolute;
  top: -42px;
}

/*========================= SERVICES SECTION =========================*/
/*========================= SERVICES SECTION =========================*/
/*========================= SERVICES SECTION =========================*/

#services {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(#ff8833, #fff); */
  background: linear-gradient(var(--color-darker-blue), var(--color-lighter-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#services .services-head {
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

#services .services-body {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#services .services-body .service-card {
  height: 17%;
  width: 80%;
  /* background: #859ad1; */
  /* border-bottom: 1px solid #444f6c; */
  border-bottom: 1px solid var(--color-cultured);
  /* border-left: 2px solid #444f6c; */
  /* border-right: 2px solid #444f6c; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#services .services-body .service-card:first-child {
  /* border-top: 2px solid #444f6c; */
  border-radius: 25px 25px 0 0;
}

#services .services-body .service-card:last-child {
  /* border-radius: 0 0 25px 25px; */
}

#services .services-body .service-card img {
  width: 30px;
  /* filter: invert(25%); */
  filter: invert(100%);
  margin-left: 0.5rem;
}

#services .services-body .service-card img:nth-child(2) {
  width: 40px;
}

#services .services-body .service-card h3 {
  font-size: 0.65rem;
  /* color: #444f6c; */
  color: var(--color-cultured);
}

#services .services-body .service-card a i {
  font-size: 2rem;
  /* color: #444f6c; */
  color: var(--color-cultured);
  margin-right: 0.5rem;
}

#services .services-footer {
  height: 15%;
}

/*========================= COPY SECTION 3 =========================*/

#copy-3 {
  width: 100vw;
  height: 100vh;
  background: var(--color-cultured);
  color: var(--color-lighter-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*========================= TESTIMONIALS SECTION =========================*/

#testimonials {
  width: 100vw;
  height: 100vh;
  /* background: violet; */
  background: linear-gradient(var(--color-baby-blue), var(--color-lighter-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#testimonials #frog-driving {
  width: 140px;
  position: absolute;
  top: -64px;
}

#testimonials .testimonials-head {
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

#testimonials .testimonials-body {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials .testimonials-body .swiper-container {
  height: 400px;
  width: 100%;
}

#testimonials .testimonials-body .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials .testimonials-body .swiper-container .swiper-wrapper .swiper-slide .testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 80%;
  padding: 1rem;
  background: linear-gradient(360deg, var(--color-darker-blue), var(--color-lighter-blue));
  border-radius: 25px;
}

#testimonials .testimonials-body .swiper-container .swiper-wrapper .swiper-slide .testimonials-card h3 {
  font-size: 1.2rem;
}

#testimonials .testimonials-body .swiper-container .swiper-wrapper .swiper-slide .testimonials-card img {
  width: 60px;
  border-radius: 50%;
}

#testimonials .testimonials-footer {
  height: 15%;
}

/*========================= CONTACT SECTION =========================*/

#contact {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#contact .contact-head {
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

#contact .contact-body {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact .contact-body .social {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

#contact .contact-body .social a {
  font-size: 2rem;
  color: #fff;
}

#contact .contact-body .form-section form {
  display: flex;
  flex-direction: column;
}

#contact .contact-footer {
  height: 15%;
  display: flex;
}

/* #contact .contact-footer {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .contact-footer #mc_embed_signup form #mc_embed_signup_scroll .mc-field-group {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

#mc-embedded-subscribe,
#mce-EMAIL {
  width: 60vw;
  margin-top: 10px;
}

.clear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
